@import url(https://fonts.googleapis.com/css?family=Hind:400,300,500,600,700);

.vert-menu {
	
	font-family: 'Hind', sans-serif;
	font-size:30px;
	font-weight: 700;
	

	#container {
		.title {
			left:12.5%;
			padding-top: 100px;
			img {
				width:100%;
				height:100%;
			}	
		}
	}
	

	.links {
	

		ul {
			list-style: none;
			margin:0;
			padding:0;

			li {
				text-align: center;
			
				a {
					
					font-weight: 300;
					font-size: 24px;	
					
					cursor: pointer;
					padding-top:6px;
					padding-bottom: 6px;
				}
			}
		}
	}


}

.home-content {
	.title {
			background: url(../images/scott.gif) no-repeat center center;
			
			height:90vh;
			width:100%;
	}
}