@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);
html {

	body {

.vert-menu {
	
	font-family: 'Hind', sans-serif;
	font-size:30px;
	font-weight: 700;
	height:50px;
	background-color: #2c3e50;
	margin:0;
	padding:0;
	width:100%;

	#container {

		.title {
			height:100%;
			span {
				color:#f1c40f;
				font-size:25px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 700;
				margin-left:15px;
			}
		
		}


	.links {
	

		ul {
			 	float: left;
			    width: 100%;
			    padding: 0;
			    margin: 0;
			    list-style-type: none;

			li {
				display: inline;
			
				a {
					float:left;
					width:250px;
					font-weight: 300;
					font-size: 24px;		
					cursor: pointer;
					padding-top:6px;
					padding-bottom: 6px;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 300;
					color:#f1c40f;
					text-decoration: none;
				}
			}
		}
	}
	}
	



}

.home-content {
	.project-icon {
			left:37.5%;
		img {
			height:100%;
			width:100%;
		}
	}
}

.element {
	display: inline;
	font-size: 18px;

}

#description {
font-family: 'Cutive Mono', ;
padding-top: 12px;
font-size: 16px;
line-height: 22px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

}

}