@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);
html {


font-family: 'Lato', sans-serif;


.container {
	margin-top: 50px;
	margin-left: 50px;
	h1 {
		margin-bottom: 15px;
		font-size: 32px;
	}
	#roles {

		padding-top: 10px;
		padding-bottom: 20px;
	}

	span {

		font-size: 26px;
	}
}

.vert-menu-trippit {
	
	font-family: 'Hind', sans-serif;
	font-size:30px;
	font-weight: 700;




}

.section {
	

	.home-content-trippit {

		.p-bord {
			margin-top: 30px;
			left:21.875%;
			border: 1px solid #333;
			.project-icon {
					left:43.75%;
					@media only screen and (max-device-width : 500px) {
						left:0%;
					}
				img {
					height:100%;
					width:100%;
				}
			}
		}
		.project-title {
				left:21.875%;
			h1 {
			
			font-family: 'PT Sans', sans-serif;
			font-size:34px;
			font-weight: 700;
			}
		}

		.details {
			left:21.875%;
			font-family: 'PT Sans', sans-serif;
			span {
				font-weight:400;
				font-size:18px;
			}
		}
	}

	.intro-content { 
		font-family: "proxima-nova",sans-serif;
		font-weight: 100;
		line-height: 1.5em;
		font-size: 18px;
		left:21.875%;
		margin-top: -15px;
		

	}

}

.uiux-bar {
	font-family: "proxima-nova",sans-serif;
	height:100px;
	background-color: #fff;
	font-size: 30px;
	text-align: center;
	width:100%;
	padding-top:50px;
	color:#000;
}

#main-content {
		font-family: "proxima-nova",sans-serif;
		font-weight: 100;
		line-height: 1.5em;
		font-size: 18px;
		left:21.875%;
		margin-top: -15px;
		color: #717171;
		padding-bottom: 70px;
			#d1-bar {
				height:100px;
				background-color: #fff;
				font-size: 20px;
				text-align: center;
				
				margin-top: 30px;
				
			}
			#design-one{
				left:21.875%;
				margin-bottom: 30px;
				img {
					width:100%;
					position: relative;
					

				}
			}

			#d2-bar {
				height:100px;
				background-color: #fff;
				font-size: 20px;
				text-align: center;
			
				margin-top: 30px;
				
			}
			#design-two{
				left:21.875%;
				margin-bottom: 30px;
				img {
					width:100%;
					position: relative;
					

				}
			}

			.profile-bar {
				height:100px;
				background-color: #fff;
				font-size: 30px;
				text-align: center;
				left:17.85%;
				padding-top:50px;
			}

			

			.trip-bar {
				height:100px;
				background-color: #fff;
				font-size: 30px;
				text-align: center;
				left:17.85%;
				padding-top:50px;
			}

			.logo-bar {
				height:100px;
				background-color: #fff;
				font-size: 30px;
				text-align: center;
				left:17.85%;
				padding-top:50px;
			}

			#profile-img {
				left:21.875%;
				img {
				width:100%;
				}
			}

			#trip-img {
				left:21.875%;
				img {

				    height:700px;
				    float: left;
				    margin-right: 20px;
				}
			}
			p,ul{

				line-height: 24px;



				br {
			display:block;
			margin: 10px 0;		
				}


			}
	}

	@media only screen and (max-device-width : 500px) {

	.project-icon, #d2-bar{
		left:2%;
	}

	.uiux-bar {
		left:2%;
	}
	#main-content {
		left:2%;
	}
	.links {
		display:none;
	}
}
}