@import url(https://fonts.googleapis.com/css?family=Hind:400,300,500,600,700);
/* line 5, ../sass/home.scss */
html .vert-menu {
  font-family: 'Hind', sans-serif;
  font-size: 30px;
  font-weight: 700;
  left: 37.5%;
}
/* line 16, ../sass/home.scss */
html .vert-menu #container .title {
  left: 12.5%;
  padding-top: 50px;
}
/* line 20, ../sass/home.scss */
html .vert-menu #container .title img {
  width: 100%;
  height: 100%;
}
/* line 31, ../sass/home.scss */
html .vert-menu .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 36, ../sass/home.scss */
html .vert-menu .links ul li {
  text-align: center;
}
/* line 39, ../sass/home.scss */
html .vert-menu .links ul li a {
  font-weight: 300;
  font-size: 24px;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
}
/* line 54, ../sass/home.scss */
html .home-content .project-icon {
  left: 37.5%;
}
/* line 56, ../sass/home.scss */
html .home-content .project-icon img {
  height: 100%;
  width: 100%;
}
