@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);
/* line 4, ../sass/trippit.scss */
html {
  font-family: 'Lato', sans-serif;
}
/* line 10, ../sass/trippit.scss */
html .container {
  margin-top: 50px;
  margin-left: 50px;
}
/* line 13, ../sass/trippit.scss */
html .container h1 {
  margin-bottom: 15px;
  font-size: 32px;
}
/* line 17, ../sass/trippit.scss */
html .container #roles {
  padding-top: 10px;
  padding-bottom: 20px;
}
/* line 23, ../sass/trippit.scss */
html .container span {
  font-size: 26px;
}
/* line 29, ../sass/trippit.scss */
html .vert-menu-trippit {
  font-family: 'Hind', sans-serif;
  font-size: 30px;
  font-weight: 700;
}
/* line 45, ../sass/trippit.scss */
html .section .home-content-trippit .p-bord {
  margin-top: 30px;
  left: 21.875%;
  border: 1px solid #333;
}
/* line 49, ../sass/trippit.scss */
html .section .home-content-trippit .p-bord .project-icon {
  left: 43.75%;
}
@media only screen and (max-device-width: 500px) {
  /* line 49, ../sass/trippit.scss */
  html .section .home-content-trippit .p-bord .project-icon {
    left: 0%;
  }
}
/* line 54, ../sass/trippit.scss */
html .section .home-content-trippit .p-bord .project-icon img {
  height: 100%;
  width: 100%;
}
/* line 60, ../sass/trippit.scss */
html .section .home-content-trippit .project-title {
  left: 21.875%;
}
/* line 62, ../sass/trippit.scss */
html .section .home-content-trippit .project-title h1 {
  font-family: 'PT Sans', sans-serif;
  font-size: 34px;
  font-weight: 700;
}
/* line 70, ../sass/trippit.scss */
html .section .home-content-trippit .details {
  left: 21.875%;
  font-family: 'PT Sans', sans-serif;
}
/* line 73, ../sass/trippit.scss */
html .section .home-content-trippit .details span {
  font-weight: 400;
  font-size: 18px;
}
/* line 80, ../sass/trippit.scss */
html .section .intro-content {
  font-family: "proxima-nova",sans-serif;
  font-weight: 100;
  line-height: 1.5em;
  font-size: 18px;
  left: 21.875%;
  margin-top: -15px;
}
/* line 93, ../sass/trippit.scss */
html .uiux-bar {
  font-family: "proxima-nova",sans-serif;
  height: 100px;
  background-color: #fff;
  font-size: 30px;
  text-align: center;
  width: 100%;
  padding-top: 50px;
  color: #000;
}
/* line 104, ../sass/trippit.scss */
html #main-content {
  font-family: "proxima-nova",sans-serif;
  font-weight: 100;
  line-height: 1.5em;
  font-size: 18px;
  left: 21.875%;
  margin-top: -15px;
  color: #717171;
  padding-bottom: 70px;
}
/* line 113, ../sass/trippit.scss */
html #main-content #d1-bar {
  height: 100px;
  background-color: #fff;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}
/* line 122, ../sass/trippit.scss */
html #main-content #design-one {
  left: 21.875%;
  margin-bottom: 30px;
}
/* line 125, ../sass/trippit.scss */
html #main-content #design-one img {
  width: 100%;
  position: relative;
}
/* line 133, ../sass/trippit.scss */
html #main-content #d2-bar {
  height: 100px;
  background-color: #fff;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
}
/* line 142, ../sass/trippit.scss */
html #main-content #design-two {
  left: 21.875%;
  margin-bottom: 30px;
}
/* line 145, ../sass/trippit.scss */
html #main-content #design-two img {
  width: 100%;
  position: relative;
}
/* line 153, ../sass/trippit.scss */
html #main-content .profile-bar {
  height: 100px;
  background-color: #fff;
  font-size: 30px;
  text-align: center;
  left: 17.85%;
  padding-top: 50px;
}
/* line 164, ../sass/trippit.scss */
html #main-content .trip-bar {
  height: 100px;
  background-color: #fff;
  font-size: 30px;
  text-align: center;
  left: 17.85%;
  padding-top: 50px;
}
/* line 173, ../sass/trippit.scss */
html #main-content .logo-bar {
  height: 100px;
  background-color: #fff;
  font-size: 30px;
  text-align: center;
  left: 17.85%;
  padding-top: 50px;
}
/* line 182, ../sass/trippit.scss */
html #main-content #profile-img {
  left: 21.875%;
}
/* line 184, ../sass/trippit.scss */
html #main-content #profile-img img {
  width: 100%;
}
/* line 189, ../sass/trippit.scss */
html #main-content #trip-img {
  left: 21.875%;
}
/* line 191, ../sass/trippit.scss */
html #main-content #trip-img img {
  height: 700px;
  float: left;
  margin-right: 20px;
}
/* line 198, ../sass/trippit.scss */
html #main-content p, html #main-content ul {
  line-height: 24px;
}
/* line 204, ../sass/trippit.scss */
html #main-content p br, html #main-content ul br {
  display: block;
  margin: 10px 0;
}
@media only screen and (max-device-width: 500px) {
  /* line 215, ../sass/trippit.scss */
  html .project-icon, html #d2-bar {
    left: 2%;
  }
  /* line 219, ../sass/trippit.scss */
  html .uiux-bar {
    left: 2%;
  }
  /* line 222, ../sass/trippit.scss */
  html #main-content {
    left: 2%;
  }
  /* line 225, ../sass/trippit.scss */
  html .links {
    display: none;
  }
}
